

.container{display: flex;flex-direction: column;align-content: center;text-align: center;}
#password{width: 250px;height: 30px;background-color: rgb(215, 213, 211);color: black;align-self:center;}
#bar{color: brown;width: 180px;align-self: center;}
#button{background-color: rgb(220, 176, 93);margin-left: auto;margin-right: auto;}
body{background-color: orange;}
#length{color: black;}
.space{
display: flex;
justify-content: center;
}
.input{
margin-left: 20px;
}
.subContainer{
display: flex;
flex-direction: column;
text-align: center;
}
#letter{
margin-left: 32px;
}
#symbol{
margin-left: 24px;
}